.desktop {
    flex: 1;
    width: 100vw;
    min-height: 0;
    overflow: hidden;

    .desktopIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        cursor: default;
        user-select: none;
        transform: translate(1.25rem, 1.25rem);

        .icon {
            pointer-events: none;
            display: block;
        }

        .label {
            font-size: 12px;
            text-align: center;
            margin-top: 4px;
        }
    }
}
