.window {
    border: 1px solid var(--borders);
    background: var(--wm-bg-b);
    border-radius: 8px;
    box-shadow: 6px 8px 20px var(--wm-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .inner {
        display: flex;
        flex-direction: column;
        height: 100%;

        .titlebar {
            color: var(--wm-title);
            padding: 4px 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            cursor: grab;

            .controls {
                display: flex;
                gap: 4px;
            }

            .btn {
                border: none;
                background: transparent;
                color: var(--wm-title);
                font-weight: bold;
                width: 20px;
                height: 20px;
                cursor: pointer;

                &:hover {
                    background: var(--wm-button-hover-color-b);
                    color: white;
                    border-radius: 2px;
                }
            }
        }

        .content {
            flex: 1;
            overflow: auto;
            background: var(--theme-base-color);
            color: var(--theme-fg-color);
        }
    }
}
