.panel {
    position: relative;
    z-index: 60;
    height: 2.5rem;
    display: flex;
    align-items: center;
    background: #2b2b2b;

    .menuButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 100%;
        background: transparent;
        border: none;

        &:hover {
            background: #398ee7;
        }
    }

    .spacer {
        flex-grow: 1;
    }

    .clock {
    }

    .openedApps {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-left: 1rem;

        .appButton {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;
            background: var(--muted);
            border: none;
            cursor: pointer;
            padding: 2px 6px;
            border-radius: 2px;
            min-width: 120px;
            text-align: left;
            height: 2rem;

            &:hover {
                background: #555753;
            }

            .appName {
                font-size: 12px;
                color: #fff;
                white-space: nowrap;
            }
        }
    }
}
